html, body {
	margin: 0;
	padding: 0 40px;
	/*font: 1.3em/1 "Lucida Console", Monaco, monospace;*/
	/*font: 1.3em/1 "atari", Monaco, monospace;*/
  font: 1.3em/1 "ataricc", Monaco, monospace;
  /*font: 1.3em/1 "ataricc", Monaco, monospace;*/
  /*font: 1.3em/1 "atarics", Monaco, monospace;*/
  /*font: 1.3em/1 "Eraslght", Monaco, monospace;*/
  /*font: 1.3em/1 "Courier New", Courier, monospace;*/
  font: 1.3em/1 "notalot35", Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
	color: rgb(0,255,0);
	background: #000;
	height: 100%;
	min-height: 100%;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'notalot35';
  font-weight: normal;
}

h1.no-text, h2.no-text, h3.no-text, p {
  margin: 0;
}

.note {
  font-size: .75em;
  display: block;
  opacity: .75;
}
.menus > li > h2 {
  padding: 0 100px;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 1.2em;
}

ul.menus, ul.menu-items {
	list-style: none;
	padding: 0 100px;
	margin: 0;
}

ul.menus {
  opacity: .75;
}
ul.menus > li {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

ul.menu-items > li:before,
ul.menu-items > li:after {
	content: "";
	display: table;
}
ul.menu-items > li:after {
	clear: both;
}
ul.menu-items > li {
	margin: 20px 0;
	zoom: 1;
}

ul.menu-items > li > h3, ul.menu-items > li > p {
	margin: 0;
  font-weight: normal;
}

ul.menu-items > li > h3 {
  margin-top: 30px;
}

ul.menu-items > li > p {
	margin-top: 15px;
}

ul.menu-items > li.not-available > h3, ul.menu-items > li.not-available > p {
	text-decoration: line-through;
}
.blinking-cursor {
  content: " ";
  display: inline-block;
  vertical-align: bottom;
  height: 1em;
  width:.5em;
  margin-left: 5px;
  background: #0f0;
  -webkit-animation: 500ms blink step-end infinite;
  -moz-animation: 500ms blink step-end infinite;
  -ms-animation: 500ms blink step-end infinite;
  -o-animation: 500ms blink step-end infinite;
  animation: 500ms blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.settings {
	display: none;
  font-size: 20px;
}

.settings p {
  margin: 10px 0;
}

.settings fieldset {
	margin: 0;
	border: none;
}

.settings label {
	display: block;
  margin-bottom: 5px;
}

.settings input, .settings select {
	font-size: 1.3em;
	line-height: 1;
}

.settings button {
	font-size: 1em;
	line-height: 1;
	color: #000;
	background: #eee;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
}

.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row {
  margin: 0 -10px;
  zoom: 1;
}
.col {
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
.col-12 {
  width: 100%;
}
.col-4 {
  width: 33.3333333%;
}

.col-8 {
  width: 66.6666667%;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

@font-face {
    font-family: 'carnas';
    src: url('../fonts/carnas-lig-webfont.eot');
    src: url('../fonts/carnas-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carnas-lig-webfont.woff2') format('woff2'),
         url('../fonts/carnas-lig-webfont.woff') format('woff'),
         url('../fonts/carnas-lig-webfont.ttf') format('truetype'),
         url('../fonts/carnas-lig-webfont.svg#carnaslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'atari';
    src: url('../fonts/atari full.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ataricc';
    src: url('../fonts/ATARCC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'atarice';
    src: url('../fonts/ATARCE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'atarics';
    src: url('../fonts/ATARCS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Eraslght';
    src: url('../fonts/Eraslght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: "notalot35";
    src: url("../fonts/notalot35.eot");
    src: url("../fonts/notalot35.eot?#iefix") format("embedded-opentype"),
    url("../fonts/notalot35.woff") format("woff"),
    url("../fonts/notalot35.ttf") format("truetype"),
    url("../fonts/notalot35.svg#Notalot35") format("svg");
}

@font-face {
    font-family: 'whitrabt';
    src: url('../fonts/whitrabt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bitwise';
    src: url('../fonts/bitwise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Jet Set';
    src: url('../fonts/Jet Set.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NinjaKid2';
    src: url('../fonts/ninja_kid_2-webfont.eot');
    src: url('../fonts/ninja_kid_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ninja_kid_2-webfont.woff2') format('woff2'),
         url('../fonts/ninja_kid_2-webfont.woff') format('woff'),
         url('../fonts/ninja_kid_2-webfont.ttf') format('truetype'),
         url('../fonts/ninja_kid_2-webfont.svg#ninja_kid_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}